.win-top {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 20%;
    z-index: 1;
}

.win-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25%;
    z-index: 1;
    /*background: url("../image/win2.png") bottom no-repeat;*/
}

.lan-img {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}


/*.lan-img{*/


/*position: fixed;*/


/*left: 0;*/


/*bottom: 0;*/


/*width: 100%;*/


/*height: 100%;*/


/*z-index: 1;*/


/*}*/


/*.topbg,.bottombg{*/


/*width: 100%;*/


/*height: 150px;*/


/*background-color: #333;*/


/*}*/


/*.topbg{*/


/*position: absolute;*/


/*top: 0;*/


/*}*/


/*.bottombg{*/


/*position: absolute;*/


/*bottom: 0;*/


/*}*/

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    height: 360px;
    border: 100px solid #333;
    border-radius: 1000px;
}

.logo {
    position: fixed;
    left: 2%;
    top: 4%;
    width: 60px;
    height: 60px;
    background: #333 url("../image/logo.png") center no-repeat;
    background-size: contain;
    border-radius: 100px;
    z-index: 9;
}

.loc {
    position: fixed;
    right: 3px;
    top: 0;
    z-index: 2;
}

.loc p {
    margin: 0;
    padding: 1px 0;
}

.loc .txt {
    display: inline-block;
    padding-right: 4px;
    width: 100px;
    text-align: right;
}

.loc h3 {
    margin: 0;
    padding: 2px 0;
    text-align: right;
}

.yellow {
    color: yellow;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

#overlay_true {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

#overlay_false {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.slow-container {
    position: fixed;
    bottom: 5%;
    left: 5%;
    z-index: 1;
    display: none;
}

.slow-container span {
    color: red;
    font-size: 16px;
    font-weight: bold;
}

.slow {
    width: 20%;
    height: 15%;
}